* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: gray;
}

.menu {
  width: 900px;
  margin: 0 auto;
}

img {
  width: 120 px;
  height: 50px;
  float: left;
  padding: 8px;
}

nav {
  float: right;
}

nav ul li {
  list-style: none;
  margin-left: 75px;
  padding: 25px;
  float: left;
}


